/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/
Properties/
/.vs/
/.claudiaideconfig
/.git/
/MCPromoter/bin/
/MCPromoter/obj/
/MCPromoter/Properties/
/MCPromoter/config.ini
/MCPromoter/config.yml
/QuickBackup/bin/
/QuickBackup/obj/
/QuickBackup/Properties/
/StartTest.bat
/Xenos.log